.hero_section{
margin: 1rem;
}


.hero {
    
    height: 400px; 
    width: 100%;/* Adjust the height as needed */
    background-size: cover; /* or cover, depending on your design preference */
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(241, 229, 229);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .hero-content {
    max-width: 800px;
  } 
  
   h1 {
    font-size: 2rem;
    margin: 0;
    white-space: pre-line;
    max-width: 500px;
  }

  p {
    font-size: 1rem;
    margin: 0;
    white-space: pre-line;
    max-width: 500px;
  }

  .small-font {
    font-size: 14px; /* Adjust the font size as needed */
  }.multiline-text {
    white-space: pre-line;
  }