footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(146, 210, 232);
    border-radius: 6px;
}
footer>:nth-child(2){
    padding:3px;
    padding-left: 1rem;
    padding-right: 1rem;

}
footer>:nth-child(2)>ul{
    display: flex;
    gap:2rem;
    list-style: none;
    color: black;
}
footer>:nth-child(2)>ul>li{
    font-size: 18px;
    color: black;
    font-weight: 400;

}

footer>:nth-child(3){
 display: flex;
 gap: 2rem;
}
@media (max-width: 768px) {
    footer {
      flex-direction: column;
    }
  
    footer > :nth-child(2) {
      padding: 0;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    footer > :nth-child(2) > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  
    footer > :nth-child(2) > ul > li {
      font-size: 14px;
    }
  
    footer > :nth-child(3) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }