.testimonial{
 display: flex;
 gap:2rem;
 align-items: center;
 justify-content:space-evenly;
 padding: 2rem;

}

.testimonial_card{
    display:flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 2px 8px  0px rgb(11, 11, 11);
    /* width: 500px; */
    
}
.testimonial_card>:nth-child(1){
    background-color:rgb(75, 47, 255)w;
    display: flex;
    align-items:flex-start;
    gap:1rem;
    
}

.testimonial_card>:nth-child(2){
    
    display: flex;
    gap:1rem;
}
.profileimage{
    border-radius: 50%;
    object-fit:cover;
    width: 80px;
    height: 80px;
}
.profiledetails{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.profiledetails>:nth-child(1){
    font-weight:700;
    font-size: 20px;
}
.profiledetails>:nth-child(2){
    font-weight:600;
    font-size: 16px;
}