.recommendation{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin: 2rem;
    padding: 2rem;
    overflow: hidden;
}
.recommendation>h1{
    text-align: center;
}
.recommdation_header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:2rem;
    color:black;
    font-weight:bold;
    font-size: 23px;
    cursor: pointer;
    
    box-shadow: 0px 0px 0px  black;
}
.recommdation_header > div {
    cursor: pointer;
    position: relative;
  }
  
  .recommdation_header > div.selected::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #007bff; /* You can adjust the color */
    bottom: -3px;
    left: 0;
  }






.grid_places{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
 gap:3rem;
   /* gap: 20px; */
   place-items: center;
   
}
.each_place{
    display: flex;
    flex-direction: column;

}
.image_div{
    width: 400px;
    height: 215px;
    border-radius: 8px;
    overflow: hidden;
}
.image_div>img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.lower_data{
    display: flex;
    justify-content: space-between;
    width: 400px;
    
}
.icons_data{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: rgb(51, 68, 69);
    font-weight: 600;
    
}
.lower_data>:nth-child(2){
    display: flex;
    flex-direction: column;
    color: rgb(24, 31, 31);
    font-weight: 600;
    font-size: 18px;
}
.icons{
    display: flex;
    gap:1rem;
}

@media (max-width: 768px) {
    .recommendation {
      margin: 1rem;
      padding: 1rem;
    }
  
    .recommendation > h1 {
      text-align: center;
      font-size: 18px;
    }
  
    .recommdation_header {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      font-size: 16px;
    }
  
    .grid_places {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  
    .each_place {
      width: 100%;
    }
  
    .each_place > .image_div {
      width: 100%;
      height: 150px;
    }
  
    .lower_data {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }